<h2>Education</h2>

<div class="education-box" style="display: flex; align-items: center;">
    <div class="education-logo" style="">
        <a href="http://gatech.edu"><img src="/imgs/gatech_logo.png" style="height: 120px;"/></a>
    </div>
    <div class="education-details" style="padding-left: 10px">
        <strong>MSc. Computer Science</strong> &mdash; <em>Machine Learning Specialization</em>
        <p>Georgia Institute of Technology, Atlanta, GA</p>
    </div>
</div>
<hr/>
<div class="education-box" style="display: flex; align-items: center;">
    <div class="education-logo" style="">
        <a href="http://upei.ca"><img src="/imgs/upei_logo.png" style="height: 120px;"/></a>
    </div>
    <div class="education-details" style="padding-left: 10px">
        <strong>BSc. Computer Science</strong> &mdash; <em>Mathematics Minor</em>
        <p>University of Prince Edward Island, Charlottetown, PE</p>
    </div>
</div>

<hr/>

<div class="education-box" style="display: flex; align-items: center;">
    <div class="education-logo" style="">
        <a href="http://hollandcollege.com"><img src="/imgs/hc_logo.png" style="height: 120px;"/></a>
    </div>
    <div class="education-details" style="padding-left: 10px">
        <strong>Programmer/Analyst Diploma</strong>
        <p>Holland College, Charlottetown, PE</p>
    </div>
</div>