<h2>Experience</h2>

<div class="experience-box" style="display: flex; align-items: center;">
    <div class="education-logo" style="">
        <a href="http://scholastic.com"><img src="/imgs/scholastic_logo.png" style="height: 120px;"/></a>
    </div>
    <div class="education-details" style="padding-left: 10px">
        <strong>Software Engineer</strong>
        <p>Scholastic &mdash; 2017-present</p>
    </div>
</div>
<div>
    <p>
        After acquisition of Ooka Island by Scholastic, work was primarily on integrating the game and backend platforms into the Scholastic ecosystem and preparing
        the product to scale. This included:
        <ul>
            <li>Rewriting and architecting reporting backend to provide real time metrics on game telemetry data.</li>
            <li>Integrating game and backends into SSO services used in schools.</li>
            <li>Writing RESTful APIs to support single page applications and gameplay/telemetry data.</li>
            <li>Dev-ops for continuous integration and automated deployment of web apps and native mobile apps.</li>
        </ul>
    </p>
</div>
<hr>

<div class="experience-box" style="display: flex; align-items: center;">
    <div class="education-logo" style="">
        <a href="http://ookaisland.com"><img src="/imgs/ooka_logo.png" style="height: 120px;"/></a>
    </div>
    <div class="education-details" style="padding-left: 10px">
        <strong>Lead Developer</strong>
        <p>Ooka Island &mdash; 2015-2017</p>
    </div>
</div>

<div>
    <p>
        Worked directly under CTO on maintenance and improvements to early childhood reading program. Worked on all aspects of the stack with a main
        focus on the web-app and game server to support the game. Also worked closely with customer support and product owners.
        <ul>
            <li>Front-end and back-end work on licensing, reporting, and customer management systems.</li>
            <li>Game server programming.</li>
            <li>Native mobile app development.</li>
            <li>Dev-ops and sys-ops for maintaining game server, web server, CI tools, and other automated processes.</li>
        </ul>
    </p>
</div>
<hr>

<div class="experience-box" style="display: flex; align-items: center;">
    <div class="education-logo" style="">
       <img src="/imgs/mjl_logo.png" style="height: 120px;"/>
    </div>
    <div class="education-details" style="padding-left: 10px">
        <strong>Programmer</strong>
        <p>MJL Enterprises &mdash; 2010-2015</p>
    </div>
</div>
<div>
    <p>

    Worked mainly on two types of system: insurance/financing systems for car dealerships and sports scouting systems.
    <ul>
        <li>Integrated with various APIs to fetch insurance rates and product upsell information.</li>
        <li>Created systems that allowed uploading and annotation of video for sports scouts.</li>
        <li>Created systems with CMS type functionality.</li>
    </ul>
    </p>
</div>
